{% extends 'org_base.html' %}
{% block title %}机构-课程列表{% endblock %}
{% block org_bread_path %}机构课程{% endblock %}

{% block org_right_layout %}
<div class="right companycenter layout">
    <div class="head">
        <h1>机构课程</h1>
    </div>
    <div class="brief group_list">
        {% for course in courses %}
            <div class="module1_5 box">
                <a class="comp-img-box" href="course-detail.html">
                    <img width="214" height="195" src="{{ MEDIA_URL }}{{ course.cover_img }}"/>
                </a>
                <div class="des">
                    <a href="course-detail.html"><h2>{{ course.name }}</h2></a>
                    <span class="fl">课时：<i class="key">{{ course.duration }}</i></span>
                    <span class="fr">学习人数：{{ course.stu_num }}</span>
                </div>
                <div class="bottom">
                    <span class="fl">{{ org.name }}</span>
                     <span class="star fr  notlogin
                        " data-favid="13" data-fav-type="4">
                        {{ course.fav_num }}
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if courses.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ courses.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ courses.number }} of {{ courses.paginator.num_pages }}.
            </span>

            {% if courses.has_next %}
                <a href="?page={{ courses.next_page_number }}">next</a>
                <a href="?page={{ courses.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}
