{% extends 'org_base.html' %}
{% block title %}机构首页{% endblock %}
{% block org_bread_path %}机构首页{% endblock %}

{% block org_right_layout %}
<div class="right companycenter layout grouping" >
    <div class="head">
        <h1>全部课程</h1>
        <a class="green fr more" href="org-detail-course.html">查看更多  >  </a>
    </div>
    <div class="brief group_list">
        {% for course in all_courses %}
            <div class="module1_5 box">
                <a href="course-detail.html"><img width="214" src="{{ MEDIA_URL }}{{ course.cover_img }}"/></a>
                <div class="des">
                    <a href="course-detail.html"><h2>{{ course.name }}</h2></a>
                    <span class="fl">课时：<i class="key">{{ course.duration }}</i></span>
                    <span class="fr">参加人数：{{ course.stu_num }}</span>
                </div>
                <div class="bottom">
                    <span class="fl">{{ org.name }}</span>
                     <span class="star fr  notlogin
                        " data-favid="13"  data-fav-type="4">
                        0
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="right companycenter layout" >
    <div class="head">
    <h1>机构教师</h1>
    <a class="green fr more" href="org-detail-teachers.html">查看更多  >  </a>
    </div>

    <div class="diarys">
        {% for teacher in all_teachers %}
        <div class="module5 share company-diary-box" style="padding:10px 0;">
            <div class="left">
                <img class="pic" src="{{ MEDIA_URL }}{{ teacher.avatar }}"/>
<!--                <p>昵称：{{ teacher.name }}</p>-->
            </div>
            <div class="right">
                <div class="top">
                    <div class="fl">
                        <a href=""><h1>{{ teacher.job_title }}</h1></a>
                        <span>工作年限: {{ teacher.working_age }}</span>
                    </div>
                </div>
                <div class="middle" style="border-bottom:0;">教学特点: {{ teacher.teach_feature }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="right companycenter layout" >
<div class="head">
<h1>机构介绍</h1>
<a class="green fr more" href="org-detail-desc.html">查看更多  >  </a>
</div>
<div class="cont">{{ org.description }}</div>
</div>
{% endblock %}
